.key{
    background-color:darkslategrey;
    border:1px solid black;
    color:black;
    border-radius: 0.2rem;
    width:fit-content;
    height: 2rem;
    padding:0.2rem 0.5rem;
    margin:0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    cursor: pointer;
}
