.keyboard{
    background-color: #11111122;
    border:1px solid #11111133;
    border-radius: 0.3rem;
}
.gray{
    background-color:#343;
    color:#232
}
.yellow{
    background-color:yellow
}
.green{
    background-color:green
}